.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    margin-left: 600px;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin-left: 600px;
}

.popular_item{
    margin-top: 50px;
    margin-left: 500px;
    display: flex;
    gap: 30px;
}